/*messages have bubbles*/
.cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: rgb(47, 52, 57);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}
