/*THIS IS NOT DONE YET*/

/* Tokyo Night */
.theme-dark {
    --accent-color: #1F202D !important;
    --background-1: #1a1b26 !important;
    --background-2: #171722 !important;
    --border-color: #1a1b26 !important;
    --background-mentioned: #252836 !important;
    --background-mentioned-hover: #2F3344 !important;
    --background-modifier-hover: #13131b !important;
    --background-modifier-active: #282a3d !important;
    --text-normal: var(--accent-color) !important;
    --text-positive: #6ee1b6 !important;
    --text-muted: #926767 !important;
    --text-link: #fee5e5 !important;
    --settings-icon-color: #be8686 !important;
    --tab-selected: #1D1E29 !important;
    --switch: #523939 !important;
    --button-background: #1D1E29 !important;
    --button-background-hover: #473232 !important;
    --button-background-active: #674949 !important;
    --button-accent-hover: #ffcbd0 !important;
    --button-accent-active: #fc8282 !important;
    --button-destructive: #fb7c7c !important;
    --button-destructive-hover: #ff929b !important;
    --button-destructive-active: #fa4a4a !important;
  }
  
  :root {
    --background-primary: var(--background-1) !important;
    --background-primary-alt: var(--background-1) !important;
    --background-secondary: var(--background-1) !important;
    --background-secondary-alt: var(--background-1) !important;
    --background-tertiary: var(--background-2) !important;
    --background-accent-gradient: var(--background-2) !important;
    --background-floating: var(--background-1) !important;
    --background-accent: var(--background-2) !important;
    --background-modifier-selected: var(--accent-color) !important;
    --interactive-selected: var(--background-primary) !important;
    --background-modifier-accent: transparent !important;
    --background-message-hover: transparent !important;
    --interactive-normal: var(--text-normal) !important;
    --interactive-muted: var(--button-background-active) !important;
    --channels-default: var(--text-muted) !important;
    --header-primary: var(--text-normal) !important;
    --header-secondary: var(--text-muted) !important;
    --control-brand-foreground: var(--accent-color) !important;
    --info-warning-foreground: var(--accent-color) !important;
    --activity-card-background: var(--background-1) !important;
    --brand-experiment: var(--accent-color) !important;
    --button-accent: var(--accent-color) !important;
    --interactive-active: var(--text-normal) !important;
    --interactive-hover: var(--interactive-normal) !important;
  }
